@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/ptsans-400.woff2") format("woff2");
	font-display: swap;
}


@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/ptsans-700.woff2") format("woff2");
	font-display: swap;
}


html {
	padding: 0;
	height: 100%;
}

body {
	margin: 0;
	min-height: 100%;
	font-family: "PT Sans", sans-serif;
	font-weight: 400px;
	font-size: 18px;
	line-height: 21px;
	background-color: #f2f2f2;
	color: #242424;
}

img {
	max-width: 100%;
	height: auto;
	object-fit: contain;
}

.page-container {
	margin: 0 auto;
	width: 1200px;
	padding: 0;
	background-color: #ffffff;
}

.button {
	font-family: inherit;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	padding: 8px 34px;
	text-align: center;
	color: #ffffff;
	background-color: #756157;
	text-decoration: none;
	text-transform: uppercase;
	border: none;
}


/* Pages */

.page-header {
	color: #000000;
	background-color: #ffffff;
}

.logo {
	display: block;
}

.navigation {
	display: grid;
	grid-template-columns: (6, 120px);
	grid-auto-flow: column;
	width: 980px;
	margin: 0 auto;

}

.navigation-list {

	margin: 0;
	padding: 0;
	width: 310px;
}

.navigation-user {
	max-width: 380px;
	margin-left: auto;
}

.class-on-li::marker {
	color: transparent;
}

.navigation-item {
	margin-bottom: 20px;
}

.navigation-item:last-child {
	margin-bottom: 0;
}


.navigation-link {
	font-family: "PT Sans", sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	text-decoration: none;
	color: #000000;
}

.main-index {
	background-color: #ffffff;
	color: #000000;
}


.hero {
	background-image: url("../images/index-background.jpg");
	background-repeat: no-repeat;
	background-size: 100% 485px;
}

.hero-logo-text {
	display: block;
	margin: 0 auto;
}

/* List */
.advantages-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, 400px);
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 0;
	margin: 0 auto;
	padding: 0;

}


/* Items */
.advantages-items {
	margin: 0 auto;
	padding: 0;

}

/* title */
.advantages-title {
	font-family: "PT Sans", sans-serif;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	}

.advantages-description {
	height: 282px;
	font-size: 22px;
	line-height: 26px;

}

.advantages-list-title {
	font-weight: 700px;
	font-size: 24px;
	line-height: 28px;

}

.advantages-list-description {
	font-weight: 400px;
	font-size: 18px;
	line-height: 21px;
}

.white-text {
	color: #ffffff;
}

.wide {
	grid-column: span 3;
	padding: 0;

}

.reall {
	grid-column: span 2;

}

.home {
	background-color: rgba(131, 179, 211, 0.12);
}

.food {
	background-color: #ffffff;

}

.souvenirs {
	background-color: rgba(131, 179, 211, 0.12);

}

.blue-card {
	background-color: #82b3d3;
}

.light-blue-card (
	background-color: rgba(131, 179, 211, 0.12);
)

.medium-blue-card {
	background-color: rgba(131, 179, 211, 0.2);
}


/* Поиск гостиниц */

.hotel-search {
	height: 406px;
	text-align: center;
	height: 406px;
}

.hotel-search-header {
	font-weight: 700px;
	font-size: 30px;
	line-height: 36px;
}

.hotel-search-paragrapher {
	font-weight: 400px;
	font-size: 22px;
	line-height: 26px;
}

/*  Подвал  */

.page-footer-subscribe {
	height: 415px;
	text-align: center;
	background-image: url("../images/footer-subscribe.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-color: #ffffff;
}

.page-footer-header {
	font-weight: 700px;
	font-size: 30px;
	line-height: 36px;
	color: #ffffff;
	text-transform: uppercase;
}

.page-footer-paragrapher {
	font-weight: 400px;
	font-size: 22px;
	line-height: 26px;
	color: #ffffff;
}

.subscribe.button {
	background-color: #82b3d3;
	font-weight: 700px;
	font-size: 20px;
	line-height: 36px;
	border: none;
}

.footer-phone {
	font-weight: 400px;
	font-size: 40px;
	line-height: 40px;
	color: #000000;
	text-decoration: none;
	text-align: center;
}

.page-footer-social {
	height: 120px;
	background-repeat: no-repeat;
	background-color: #ffffff;
}


/* Catalog */

.inner-header {
	height: 412px;
	background-image: url("../images/catalog-filter.jpg");
	background-repeat: no-repeat;
	background-size: 100% 412px;
	background-color: #ffffff;
}

.inner-header h1 {
	color: #ffffff;
	font-weight: 700px;
	font-size: 60px;
	line-height: 78px;
}

/* Хлебные крошки */

.breadcrumbs-item {
	color: #ffffff;
}

/* Link */
.breadcrumbs-link {
	font-family: inherit;
	font-weight: 400px;
	font-size: 16px;
	line-height: 21px;
	text-decoration: none;
	color: #ffffff;
}


/* Фильтры, инфроструктура*/

.catalog-infrostructure-group {
	width: 150px;
	height: 155px;
}

.catalog-filter-title {
	font-weight: 700px;
	font-size: 20px;
	line-height: 24px;
}

.catalog-filter {
	font-weight: 400px;
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
}


/* Кнопки*/
.button.use {
	background-color: #82b3d3;
	font-weight: 700px;
	font-size: 20px;
	line-height: 36px;
	border: none;
}

.hotels-card-button.favorites {
	background-color: #82b3d3;
	font-weight: 700px;
	font-size: 20px;
	line-height: 36px;
	border: none;
}

.hotels-card-button.rating {
	background-color: #f2f2f2;
	font-weight: 400px;
	font-size: 16px;
	line-height: 20px;
	border: none;
	color: #333333;
}


/* Сортировка */
.catalog-select {
	height: 150px;
}

.select-control option {
	font-weight: 400px;
	font-size: 14px;
	line-height: 20px;
}


/* Список отелей */
.hotels-card-link {
	font-weight: 700px;
	font-size: 24px;
	line-height: 28px;
	color: #000000;
	text-decoration: none;
}

/* Price */
.hotels-card-price {
	font-weight: 400px;
	font-size: 18px;
	line-height: 21px;
	color: #333333;
}

/* Link */
.pagination {
	background-color: #ffffff;
}

.pagination-link {
	color: #ffffff;
	background-color: #82b3d3;
	text-decoration: none;
	font-size: 20px;
	line-height: 36px;
	font-weight: 700;
}

.pagination-current {
	color: #242424;
	background-color: #f2f2f2;
}

.pagination-disabled {
	background-color: #82b3d3;
}
